<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个映射指定一个唯一的名字空间 -->
<mapper namespace="mapping.userMapper">

<!-- 根据phonenumber查询得到一个用户 -->
<select id="getUser" parameterType="String" resultType="User">
    select * from user where phonenumber=#{phonenumber}
</select>

<!-- 创建用户 -->
<insert id="createUser" parameterType="User">
    insert into user(phonenumber,password,firstname,lastname) values(#{phonenumber},#{password},#{firstname},#{lastname}) 
</insert>

<!-- 删除用户 -->
<delete id="deleteUser" parameterType="String">
    delete from user where phonenumber=#{phonenumber}
</delete>

<!-- 修改用户（密码） -->
<update id="changePassword" parameterType="User">
    update user set password=#{password} where phonenumber=#{phonenumber}
</update>

<!-- 查询全部用户 -->
<select id="getAllUser" resultType="User">
    select * from user
</select>

<!-- 修改用户firstname -->
<update id="changeFirstName" parameterType="User">
	update user set firstname=#{firstname} where phonenumber=#{phonenumber}
</update>

<!-- 修改用户lastname -->
<update id="changeLastName" parameterType="User">
	update user set lastname=#{lasttname} where phonenumber=#{phonenumber}
</update>


</mapper>